.date-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    padding: 16px 24px;
    margin-top: 50px;
}

.date-nav__item {
    position: relative;
    width: 120px;
    display: flex;
    align-items: center;
}

.date-current {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.date-previous,
.date-next {
    width: 80px;
}

.date-link {
    position: absolute;
    width: 100%;
    display: flex;
}

.date-next a {
    justify-content: flex-end;
}

.date-nav__item a {
    color: #737373;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.date-next {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.date-next__inner {
    position: absolute;
}
