.attendance__alert--success {
    padding: 10px 30px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132;
}

.attendance__alert--danger {
    padding: 10px 0;
    border-color: #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
}

.attendance__alert--danger ul {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.container__inner {
    width: 60%;
    text-align: center;
}

.status-label {
    display: inline-block;
    color: #696969;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #C8C8C8;
    font-weight: bold;
}

.today-date {
    font-size: 2rem;
    font-weight: normal;
}

.current-time {
    font-size: 3rem;
}

.attendance__button {
    width: 100%;
    text-align: center;
}

.attendance__button-submit {
    padding: 5px;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.attendance__button-break {
    background: #fff;
    color: #000;
}

.button-container {
    display: flex;
    justify-content: center;
    padding: 0 25%;
    gap: 10px;
}

.clock-out-message {
    font-size: 1.5rem;
    font-weight: bold;
}